@charset "UTF-8";

::selection {
    background: #ff0105
}

::-moz-selection {
    background: #ff0105
}

::-webkit-scrollbar {
    width: 10px
}

::-webkit-scrollbar-track {
    background: #fff
}

::-webkit-scrollbar-thumb {
    background: grey
}

::-webkit-scrollbar-thumb:hover {
    background: #525252
}

.services {
    -webkit-animation: fadein .3s;
    -moz-animation: fadein .3s;
    -ms-animation: fadein .3s;
    -o-animation: fadein .3s;
    animation: fadein .3s
}

@keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-moz-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-webkit-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-ms-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

@-o-keyframes fadein {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

body {
    font-family: Roboto, sans-serif;
    background-color: #fff;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
    font-style: normal;
    font-weight: 500;
    width: 100%;
    height: 100%
}

.container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    height: 100%
}

a {
    color: #000
}

.services {
    text-align: center
}

.ico {
    color: transparent
}

.subtext {
    text-align: center;
    padding-bottom: 10px
}

.bg-png {
    width: 200px;
    float: right
}

@media (max-width:357px) {
    .subtext {
        font-size: 25pt
    }

    .bg-png {
        width: 100px
    }
}

@media (min-width:358px) and (max-width:443px) {
    .subtext {
        font-size: 25pt
    }

    .bg-png {
        width: 120px
    }
}

@media (min-width:444px) and (max-width:1229px) {
    .services {
        padding-top: 100px
    }

    .bg-png {
        width: 200px
    }

    .main {
        margin: auto;
        padding-left: 60px;
        padding-right: 60px
    }
}

@media (min-width:1230px) and (max-width:1920px) {
    div {
        height: 100%;
        width: 100%
    }

    .subtext {
        font-size: 40pt
    }

    .services {
        padding-top: 100px
    }
}

.container {
    background: 0 0
}

.bg-png {
    float: right;
    margin-top: 5px
}

.tagline {
    width: 290px;
    font-size: 15pt
}

.main {
    padding-top: 70px
}

.social {
    height: 35px
}
